@use '../sassStyles/variables' as *;
section {
  .single-macbook-render {
    position: relative;
    padding: 40px;
    margin-top: 30px;
    border: 1px solid $border-color;
    display: flex;

    legend {
      padding: 10px;
      font-size: 18px;
    }

    .image-price-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      gap: 30px;

      .macbook-img {
        max-width: 180px;
      }
    }

    .laptop-details-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      span {
        min-width: 81px;
      }
    }
  }
}
