@use '../sassStyles/variables' as *;

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  margin-top: 20px;
  border: 2px solid $border-color;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 940px) {
    grid-template-columns: 1fr;
  }
}
