.app-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2;
  border: 2px solid black;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
}
.main-aside-group {
  margin: 0 auto;
  display: flex;
}
